@tailwind base;
@tailwind components;
@tailwind utilities;

/* CONDENSED LIGHT & BOLD */

@font-face {
  font-family: "thedusCLRegular";
  src: url("/fonts/ThedusCondensedLight-Regular.otf") format("otf");
  font-weight: 200;
  font-style: extented;
},

@font-face {
  font-family: "thedusCLBold";
  src: url("/fonts/ThedusCondensedLight-Bold.otf") format("otf");
  font-weight: 400;
  font-style: extented;
},

/* WIDE LIGHT & BOLD */

@font-face {
  font-family: "thedusWLRegular";
  src: url("/fonts/ThedusWideLight-Regular.otf") format("otf");
  font-weight: 200;
  font-style: extented;
},

@font-face {
  font-family: "thedusWLBold";
  src: url("/fonts/ThedusWideLight-Bold.otf") format("otf");
  font-weight: 400;
  font-style: extented;
};
